body  {
    background: url(img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
}

body a {
    color: #000000;
}

.fondo-oscuro{
    background-color: rgba(68, 68, 68, 0.842);
    color: #eeeeee;
}

.fondo-claro{
    background-color: rgba(238, 238, 238, 0.842);
    color: #444444;
}

.centrado{
   margin: auto;
   width: 50%;
   padding: 10px;
   border: 5px solid rgba(22, 126, 196, 0.808);
   border-radius: 15px;
   text-align: center;
}